<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <div id="formFooter">
                <h3>E.S.C - Login</h3>
            </div>
        </div>

        <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
            
            <div class="form-group">
                <input #userNameFocus formControlName="userName" class="fadeIn second" placeholder="Digite o usuario" autofocus>
                <app-vmessage *ngIf="loginForm.get('userName').errors?.required" text = 'Usuario é obrigatório!'></app-vmessage>
            </div>
            
            <div class="form-group">
                <input formControlName="password" type="password" class="fadeIn third" placeholder="Digite a senha">
                <app-vmessage *ngIf="loginForm.get('password').errors?.required" text = 'Senha é obrigatório!'></app-vmessage>
            </div>
            
            <input [disabled]="loginForm.invalid" type="submit" class="fadeIn fourth" value="Entrar">

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Esqueceu sua senha?</a>
            </div>
        </form>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>teste</h2>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>