<header id="header">
  <div class="p-2 text-center bg-light">
    <label id="label">Mês:</label>
    <select id=cbMes>
      <option value="01">Janeiro</option>
      <option value="02">Fevereiro</option>
      <option value="03">Março</option>
      <option value="04">Abril</option>
      <option value="05">Maio</option>
      <option value="06">Junho</option>
      <option value="07">Julho</option>
      <option value="08">Agosto</option>
      <option value="09">Setembro</option>
      <option value="10">Outubro</option>
      <option value="11">Novembro</option>
      <option value="12">Dezembro</option>
    </select>

    <label id="label">Ano:</label>
    <select id=cbAno>
      <option value="2024">2024</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
    </select>
    <button class="button" type="button" class="btn btn-primary" (click)="carregarDespesas()">Pesquisar</button>
  </div>

  <div class="p-2 text-center bg-light">
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
          <div class="card-header">Saldo Positivo:</div>
          <div class="card-body">
            <h4 class="card-title">{{lancamentosFinanceiros$.vlSaldoPositivo}} R$</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 50rem">
          <div class="card-header">Pendente para Pagamento:</div>
          <div class="card-body">
            <h4 class="card-title">{{lancamentosFinanceiros$.vlTotalPendentePagamento}} R$</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
          <div class="card-header">Saldo Disponível:</div>
          <div class="card-body">
            <h4 class="card-title">{{lancamentosFinanceiros$.vlSaldoDisponivelMes}} R$</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<body class="body">
  <div class="p-2 text-center bg-light">
    <div class="row">
      <!-- Tabela Lancamentos Fixos Mensais -->
      <div class="col-sm-4">
        <table id="tabelaLancamentosFixos" class="table table-bordered align-middle table-sm ">
          <thead>
            <tr class="thead-dark">
              <th scope="col">Descrição</th>
              <th scope="col">Total R$</th>
              <th scope="col">TP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let despesasFixas of lancamentosFinanceiros$.despesasFixasMensais">
              <td>{{ despesasFixas.dsDescricao }}</td>
              <td>{{ despesasFixas.vlTotal }}</td>
              <td>{{ despesasFixas.tpStatus}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <button type="button" class="btn btn-primary">Adicionar</button>
        <button class="button" type="button" class="btn btn-danger">Excluir</button>
      </div>

      <!-- Tabela Lancamentos Fixos Mensais -->
      <div class="col-sm-8">
        <table id="tabelaPadrao" class="table table-bordered align-middle table-sm ">
          <thead>
            <tr class="thead-dark">
              <th scope="col">Total R$</th>
              <th scope="col">%</th>
              <th scope="col">DESCRIÇÃO</th>
              <th scope="col">STATUS</th>
              <th scope="col">PAGO R$</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="lancamentosFinanceiros$.lancamentosMensais">
            <tr *ngFor="let despesa of lancamentosFinanceiros$.lancamentosMensais">
              <td>{{ despesa.vlTotalDespesa}}</td>
              <td>{{ despesa.percentualUtilizacao}}</td>
              <td>{{ despesa.dsTituloDespesa }}</td>
              <td>{{ despesa.tpStatus}}</td>
              <td>{{ despesa.vlTotalDespesaPaga }}</td>
              <td>
                <button *ngIf="despesa.tpLinhaSeparacao == 'N'" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDetalheDespesasMensais"
                  (click)="abrirDespesa(despesa)">Abrir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <br>
          <button type="button" class="btn btn-primary" (click)="adicionarDespesaMensal()">Adicionar</button>
          <button class="button" type="button" class="btn btn-danger" (click)="excluirDespesaMensal()">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Modal Detalhe Despesas Mensais -->
<div class="modal fade" id="ModalDetalheDespesasMensais" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="card text-center">
        <h6>Detalhes da Despesa:  Neste mês será quitado 10/10 Despesas Paceladas, Totalizando 500,00R$</h6>

        

        <div class="form-inline card-header">
          <input type="email" class="form-control" id="tituloDespesa" value={{tituloDespesa}} aria-describedby="emailHelp" placeholder="Digite o nome da despesa.">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Importar</button>
          
          <div class="card">
            <div class="card-body">
              <footer class="footer">Limite Despesa</footer>
              <h5>{{listaDetalheDespesas.despesaMensal.vlLimite}}</h5>
            </div>
          </div>
          
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkEmprestimosAReceber">
              <label class="form-check-label" for="inlineCheckbox1">Emprestimos á Receber*</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkDespesaRascunho">
              <label class="form-check-label" for="inlineCheckbox1">Despesa Rascunho</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkDespesaDebitoAutomatico">
              <label class="form-check-label" for="inlineCheckbox1">Débito Automático</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkPoupancaPositiva">
              <label class="form-check-label" for="inlineCheckbox1">P(+)</label>
            </div>
            
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkEmprestimosAPagar">
              <label class="form-check-label" for="inlineCheckbox1">Emprestimos á Pagar*</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkDespesaRelatorio">
              <label class="form-check-label" for="inlineCheckbox1">Despesa Relatório</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkDespesaDebitoCartao">
              <label class="form-check-label" for="inlineCheckbox1">Débito Cartão</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="chkPoupancaNegativa">
              <label class="form-check-label" for="inlineCheckbox1">P(-)</label>
            </div>
          </div>
          
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>

      <!--<div class="modal-header">
        <div class="form-group">
          <label for="tituloDespesa">Nome da Despesa:</label>
          <input type="email" class="form-control" id="tituloDespesa" value={{tituloDespesa}} aria-describedby="emailHelp" placeholder="Digite o nome da despesa.">
          <small id="emailHelp" class="form-text text-muted">Ex: Despesa de Cartão de Crédito.</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->

      
      
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar modal-header">
        <table id='tabelaDetalheDespesas' class="table table-sm">
          <thead>
            <tr>
              <th scope="col">X</th>
              <th scope="col">Total R$</th>
              <th scope="col">Descrição</th>
              <th scope="col">Pago R$</th>
              <th scope="col">Status</th>
              <th scope="col">Observações</th>
              <th scope="col">Observações Complementares</th>
            </tr>
          </thead>
          <tbody *ngIf="listaDetalheDespesas">
            <tr *ngFor="let detalheDespesas of listaDetalheDespesas.detalheDespesaMensal">
              <td><input type="checkbox"></td>
              <td style='text-align:center'>{{ detalheDespesas.vlTotal}}</td>
              <td>
                <div style="width: 510px"> {{ detalheDespesas.dsTituloDespesa}} </div>
              </td>
              <td style='text-align:center'>{{ detalheDespesas.vlTotalPago }}</td>
              <td>{{ detalheDespesas.tp_Status}}</td>
              <td>
                <div style="width: 600px"> {{ detalheDespesas.dsObservacao}} </div>
              </td>
              <td>
                <div style="width: 600px"> {{ detalheDespesas.dsObservacao2}} </div>
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>