<ng-template #modalMensagemSucesso>
  <div class="alert alert-primary" role="alert"
    style="position: absolute;width: 100%;text-align: center;width: 100%;text-align: center;">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemAlerta>
  <div class="alert alert-warning" role="alert" style="position: absolute;width: 100%;text-align: center;">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemErro>
  <div class="alert alert-danger" role="alert" style="position: absolute;width: 100%;text-align: center;">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemGenerica>
  <div class="alert alert-secondary" role="alert" style="position: absolute;width: 100%;text-align: center;">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemTransparente>
  <div class="alert alert-light" role="alert" style="position: absolute;width: 100%;text-align: center;">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalSpinnerProcessando>
  <button class="btn btn-secondary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Carregando...
  </button>
</ng-template>