<ng-template #modalMensagemSucesso>
  <div class="alert alert-primary alert-centralizado" role="alert">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemAlerta>
  <div class="alert alert-warning alert-centralizado" role="alert">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemErro>
  <div class="alert alert-danger alert-centralizado" role="alert">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemGenerica>
  <div class="alert alert-secondary alert-centralizado" role="alert">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalMensagemTransparente>
  <div class="alert alert-light alert-centralizado" role="alert">
    {{mensagemModal}}
  </div>
</ng-template>

<ng-template #modalSpinnerProcessando>
  <button class="btn btn-secondary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Carregando...
  </button>
</ng-template>